$primary-color: #d814f1ab;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

body {
    background-color: $primary-color;
}