$primary-color: #d814f1ab;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

body {
    background-color: $primary-color;
}
.menu {
    height: 10%;
    width: 100%;
    background-color: #eece1a;
    }
    .nav-item {
    display: inline-block;
    vertical-align: top;
        a {
            color: #000;
        }
    } 
    .menu-nav-sub {
    display:none;
    background-color: darken($color: #eece1a, $amount: 10);
    width: 100%;
    }
    .menu-nav li:hover .menu-nav-sub {
    display: block;
    }
    #main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
    }
    .menu-nav li:nth-child(1):hover ~ .dot {
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 1; 
      }


      .menu-nav .dot {
        width: 6px;
        height: 6px;
        background: #fddb3a;
        border-radius: 50%;
        opacity: 0;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
    
      .menu-nav a:hover {
        color: #fddb3a;
      }